.manage-container {
    padding: 50px;
    max-width: 100%;
    margin-top: -35px;
}

.header-spot h1 {
    font-size: 2rem;
    margin-left: 55px;
}

.new-spot-btn {
    text-align: start; /* Центрирование */
    margin-top: -10px;
}

.new-spot-btn button {
    text-align: center;
    cursor: pointer;
    width: 175px;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 6px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень */
    transition: background-color 0.3s, transform 0.2s ease;
    padding: 3px 0; /* Внутренний отступ сверху/снизу */
    line-height: 1; /* Высота строки, чтобы текст поднимался */
}

.new-spot-btn button:hover {
    background-color: #d50f0f; /* Темно-красный при наведении */
    transform: translateY(-2px); /* Поднятие при наведении */
}

.new-spot-btn button:active {
    transform: translateY(0); /* Возвращение на место при клике */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшенная тень */
}

.spot-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 50px;
}


.spot-title {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    background-color: rgb(240, 247, 252);
    text-align: center;
    padding-bottom: 10px;
    height: 600px;
}

.city-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-right: 5px;
    
}

.price {
    margin-top: 5px;
    margin-left: 20px;
    margin-top: 15px;
}

.cit-rating .fa-star {
    color: gold; /* Цвет звезды */
    margin-right: 5px; /* Отступ справа для текста */
    font-size: 1.2rem; /* Размер звезды */
    vertical-align: middle; /* Выравнивание с текстом */
}


.spot-title:hover {
    transform: scale(1.03); /* Увеличение стало сильнее */
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3); /* Больше тени и насыщенность */
}

.spot-title img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.spot-title p {
    display: flex;
    font-size: 1.5rem;
    color: black;
    justify-content: start;
}

.cit-rating {
display:flex;
width: 100%;
justify-content: space-between;
}

.price {
    margin-top: 5px;
}

.spots-btns {
    display: flex; 
    align-items: center; 
    gap: 20px; /* Отступ между кнопками */
    margin-top: 10px; /* Добавим небольшой верхний отступ */
    margin-left: 20px;
    
  }
  
  .spots-btns button, .spots-btns .delete {
    display: inline-block;
    width: 150px;
    height: 37px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s;
  }
  
  /* Эффект наведения */
  .spots-btns button:hover, .spots-btns .delete:hover {
    background-color: #739ded;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Эффект при клике */
  .spots-btns button:active, .spots-btns .delete:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  





