.spots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 карточки в ряд */
  gap: 25px; /* Расстояние между карточками */
  padding: 50px;
  margin-top: -25px;
  font-family: Poppins;
}

.spot-box {
  display: flex;
  flex-direction: column; /* Элементы размещаются вертикально */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-decoration: none;
}

.spot-box:hover {
  transform: scale(1.05); /* Зум при наведении */
}

.spot-box img {
  width: 100%; /* Изображение занимает всю ширину */
  height: 250px; /* Фиксированная высота для всех картинок */
  object-fit: cover; /* Сохраняем пропорции и обрезаем лишнее */
  cursor: pointer;
}

.spot-details {
  padding: 15px; /* Отступы внутри блока */
}

.spot-details .spot-location {
  display: flex;
  justify-content: space-between; /* Разделение города и рейтинга */
  font-size: 16px;
  color: #222121;
  margin-bottom: 5px;
}

.spot-details .spot-title {
  font-size: 18px;
  font-weight: bold;
  color: #0a0a0a;
  margin-bottom: 5px;
}

.spot-rating {
  display: flex;
  align-items: center; /* Центрируем звезду и текст */
  font-size: 14px;
  color: #ff385c;
}

.fa-star {
  color: gold;
  margin-right: 5px; /* Добавляем отступ между звездой и рейтингом */
}

.spot-price .price {
  font-weight: bold; /* Делаем жирным */
}

.spot-price .night {
  font-weight: normal; /* Оставляем обычным */
}
