    /* --- Основные стили для навигации --- */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 50px;
        background-color: rgb(238, 244, 248);
        /* background-color: #f4e9e9; */
        border-radius: 8px;
    }

    /* --- Логотип (левая часть навигации) --- */
    .nav-left {
        display: flex;
        align-items: center;
    }

    .nav-left .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-left .logo img {
        width: 100px;
        height: auto;
        margin-bottom: 5px;
       
    }

    .nav-left .logo span {
        font-size: 29px;
        font-weight: bold;
        color: #cf1436;
        /* color: rgb(42, 60, 71); */
        font-family: fantasy;
        margin-left: -15px;
    }

    /* --- Правая часть навигации --- */
    .menu-right {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    /* Стили для кнопки профиля */
    .profile-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(218, 227, 232);
        border: 1px solid rgb(207, 221, 230);
        border-radius: 29px;
        padding: 5px 15px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        width: 120px;
        height: 60px;

    }

    /* Полоски меню */
    .menu-icon {
        font-size: 20px;
        /* color:#ab112d; */
        color: rgb(95, 125, 143);
        margin-left: 10px;
    }

    /* Иконка пользователя */
    .user-icon {
        font-size: 40px;
        /* color:#b60f2e; */
        color: rgb(99, 124, 140);
        margin-left: 15px;
    }


    /* Эффект наведения на кнопку */
    .profile-button:hover {
        background-color:#c7dbed;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }


    /* --- Выпадающее меню --- */
    .profile-dropdown {
        position: absolute;
        right: 20px;
        top: 70px;
        background-color: rgb(238, 244, 248);
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 9px;
        z-index: 1000;
        margin-right: -10px;
    }

    /* --- Элементы внутри меню --- */
    .profile-dropdown li {
        list-style: none;
        padding: 10px 5px;
        cursor: pointer;
        color: #2f343b;
        font-size: larger;
        
    }


    /* --- Эффект наведения на элементы меню --- */
    .profile-dropdown li:hover {
        
        text-decoration: underline; /* Эффект при наведении, если нужно */
    }

    /* --- Скрытие меню, когда оно не активно --- */
    .hidden {
        display: none;
    }

    .manage-link a {
        color: #2f343b; /* Тот же цвет, что и у Hello, Dima! */
        text-decoration: none; /* Убирает подчеркивание */
        font-size: 21px;
    }
    
    .manage-link a:hover {
        text-decoration: underline; /* Эффект при наведении, если нужно */
        color: #2f343b; /* Подтверждение цвета при наведении */
    }
    

    .create-spot-butn {
        display: inline-block; /* Убедитесь, что кнопка остается inline-block */
        margin-right: 20PX;
        padding: 10px 15px; /* Внутренние отступы */
        font-size: 20px; /* Размер текста */
        cursor: pointer; /* Указатель мыши при наведении */
        text-align: center; /* Выравнивание текста */
        /*color: #8b1027;  Цвет текста */
        color: rgb(32, 46, 55);
        text-decoration: none; /* Убираем подчеркивание */
  
      }
      