    /* --- Основные стили для навигации --- */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        background-color: #f4e9e9;
        /* Белый фон для навигации */
        border-bottom: 1px solid #ddd;
        /* Тонкая граница снизу */
    }

    /* --- Логотип (левая часть навигации) --- */
    .nav-left {
        display: flex;
        /* Flexbox для группировки элементов слева */
        align-items: center;
        /* Центрирование по вертикали */
    }

    .nav-left .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .nav-left .logo img {
        width: 90px;
        height: auto;
        margin-bottom: 5px;
    }

    .nav-left .logo span {
        font-size: 27px;
        font-weight: bold;
        color: #d50a2f;
        font-family: fantasy;
        margin-left: -15px;
    }

    /* --- Правая часть навигации --- */
    .menu-right {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    /* Стили для кнопки профиля */
    .profile-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 30px;
        padding: 5px 15px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        width: 120px;
        height: 60px;

    }

    /* Полоски меню */
    .menu-icon {
        font-size: 20px;
        color: #747079;
        margin-left: 10px;
    }

    /* Иконка пользователя */
    .user-icon {
        font-size: 45px;
        color: #747079;
        margin-left: 15px;
    }


    /* Эффект наведения на кнопку */
    .profile-button:hover {
        background-color: #f7f7f7;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }


    /* --- Выпадающее меню --- */
    .profile-dropdown {
        position: absolute;
        right: 20px;
        top: 50px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 10px;
        z-index: 1000;
    }

    /* --- Элементы внутри меню --- */
    .profile-dropdown li {
        list-style: none;
        padding: 10px 5px;
        cursor: pointer;
    }

    /* --- Эффект наведения на элементы меню --- */
    .profile-dropdown li:hover {
        background-color: #f7f7f7;
    }

    /* --- Скрытие меню, когда оно не активно --- */
    .hidden {
        display: none;
        /* Скрываем меню */
    }

    .create-spot-butn {
        display: inline-block; /* Убедитесь, что кнопка остается inline-block */
        margin-left: 10px; /* Отступ слева */
        padding: 10px 15px; /* Внутренние отступы */
        background-color: #f4e9e9; /* Цвет фона */
        font-size: 18px; /* Размер текста */
        cursor: pointer; /* Указатель мыши при наведении */
        text-align: center; /* Выравнивание текста */
        color: #0a1032; /* Цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
  
      }
      